#palette {
    display: none;
}

#game-minimap {
	background-color: #fff;
}

body {
	padding: 5 px;
	background: url('/images/Art/Wood.png');
}

#health {
	height: 20px;
	margin-bottom: 10px;
	background-color: #afa;
}

#main {
	background: #ffffffaa;
	padding: 10px;
}

#right {
	margin-left: 10px;
	text-align: center;
	background: #ffffffaa;
	padding: 10px;
}

#right h2 {
	margin-bottom: 10px;
}

#right table {
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;
}

#right #health {
	margin-top: 10px;
	padding: 5px;
	border: 1px solid black;
}

#right ul {
	text-align: left;
	list-style: none;
	font-size: 18px;
	padding-left: 0px;
	margin-left: 10px;
}

#right ul span {
	position: relative;
	top: -5px;
}

#right h2#controls {
	margin-top: 0px;
}

#right #time, #right #score {
	display: inline-flex;
	margin-right: 10px;
}
