#palette {
    display: none;
}

#game-minimap {
}

#health {
	height: 20px;
	margin-bottom: 10px;
	background-color: #afa;
}

#right {
	margin-left: 10px;
	text-align: center;
}

#right h2 {
	margin-bottom: 10px;
}

#right table {
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;
}

#right #health {
	padding: 5px;
	border: 1px solid black;
}

#right ul {
	text-align: left;
}

#right h2#controls {
	margin-top: 5px;
}
