canvas {
    border: 1px solid black;
}
#content {
    display: flex;
}
#palette {
    padding-left: 20px;
}
.palette-item {
    font-size: 1.5em;
    padding: 5px;
    margin: 2px;
    border: 1px solid transparent;
    display: inline-block;
}
.palette-item:hover, .palette-item.selected {
    border: 1px solid black;
    cursor: pointer;
}
